/*
	FRAMEWORK.CSS - INVOLT CSS UI:
	1. Global CSS
	2. Clickable elements (buttons)
	3. HTML inputs
	4. Knobs (for editing check the reference page)
	5. Hover, show
	6. Rangeslider, bar
	7. Loader related elements
*/

/*----Global CSS----*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
/*Import font from core/font */
@font-face {
	font-family: 'SourceSansProLight'; src: url('font/SourceSansPro-Light.ttf');
}

@font-face {
	font-family: 'SourceSansProRegular'; src: url('font/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'SourceSansProBold'; src: url('font/SourceSansPro-Bold.ttf');
}

body{
	background: white;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-family: 'SourceSansProRegular';
}

.ard{
	margin: 20px;
	border-radius: 4px;
}

/*Clickable elements (buttons)*/

.button,
.increase, .decrease, 
.toggle, .button-toggle, .custom-button{
	background: #00c5ff;
	color:white;
	width: 180px;
	height: 40px;
	border-bottom:1px solid #0092bd;
	font-family: 'SourceSansProBold';
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	transition: background 0.1s linear;
}

.button:hover,
.increase:hover, .decrease:hover, 
.toggle:hover, .button-toggle:hover, .custom-button:hover {
	background: #004f57;
	border-color:#004f57;
	line-height: 40px;
}

/*Small buttons*/

.increase, .decrease, .toggle{
	width: 80px;
}

.toggle.inactive{
	background: #f4f4f4;
	color: #d9d9d9;
	border-color:#8ab6c6;
}

.toggle.inactive:hover{
	background: #f4f4f4;
	color: #00c5ff;
	border:1px solid #00c5ff;
	line-height: 38px;
	transition: color 0.1s linear;
}

/*Button-toggle two states (blue/yellow)*/

.button-toggle.state2{
	background: #ffde00;
	color:#363636;
	border-color:#e1c400;
}

.button-toggle.state2:hover{
	background: #ffba00;
	border-color: #ca9300;
}

/*Inputs - input-write, custom-write*/

input:focus, button:focus {
	outline: 0;
}

.input-write, .custom-write  {
	color:#363636;
	width: 180px;
	height: 40px;
	padding-left: 10px;
	border-radius: 0;
	border:none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 2px solid #00C5FF;
	font-size: 16px;
	font-family: "SourceSansProBold";
	line-height: 37px;
}

.input-write:hover, .custom-write:hover{
	background:#f9f9f9;
}

.input-write:focus, .custom-write:focus{
	background: white;
	padding-top:0;
	padding-left: 9px;
	border:1px solid #ffde00;
	border-bottom: 2px solid #00C5FF;
	font-family: "SourceSansProRegular";
	transition: background 0.3s linear;
}

::-webkit-input-placeholder {
	font-family: "SourceSansProLight";
}

button{
	background: #ffde00;
	color:#363636;
	width: 180px;
	height: 40px;
	border:0;
	border-bottom: 1px solid #e1c400;
	font-size: 16px;
	font-family: "SourceSansProBold";
	line-height:40px;
	cursor:pointer;
}
button:hover{
	background: #ffba00;
	border-color: #ca9300;
	transition: background 0.1s linear;
}

/*Knob-send*/
/*For editing Knobs visually check references*/
.knob-send>div>input, .knob>div>input{
	font-size:36px!important;
	font-family: "SourceSansProBold"!important;
}

.knob-send{
	width: 180px;
	cursor:pointer;
}

/*Knob*/
.knob{
	width: 180px;
}

/*Hover*/

.hover{
	min-width: 80px;
	max-width: 380px;
	min-height: 40px;
	border: 1px solid #d9d9d9;
}

.hover:hover{
	border: 1px solid #00c5ff;
}

/*show*/

.show{
	display: inline;
	width: 80px;
	height: 40px;
	border-radius: 0;
	border-bottom: 2px solid #00C5FF;
	text-align: right;
	font-size: 28px;
	font-family: "SourceSansProBold";
	line-height: 40px;
}

/*Rangelider*/

.rangeslider{
	width: 380px;
	height: 40px;
	padding:0 10px;
}

.rangeslider>.label{
	display: none;
}

.rangeslider>.slider{
	height: 40px;
	padding-top:21px;
}

.noUi-base{
	position: relative;
	background: #00C5FF;
	width: 100%;
	height: 2px;
}

.noUi-handle{
	background: #00C5FF;
	width: 16px;
	height: 16px;
	position: relative;
	left: -10px;
	top: -7px;
	z-index: 1;
	border-radius: 20px;
	cursor:pointer;
	transition: background 0.2s linear;
}

.noUi-handle:hover, .noUi-handle:active{
	background: #ffba00;
}

.noUi-origin{
	background: #d9d9d9;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.tooltip{
	color:#363636;
	background: #d9d9d9;
	position: relative;
	float:left;
	bottom: 55px;
	width: 80px;
	height: 40px;
	margin-top: 20px;
	margin-left:-42px;
	border-radius: 4px;
	font-size:16px;
	text-align: center;
	line-height: 40px;
}

.tooltip:after {
	content: " "; 
	position: absolute; 
	top: 100%;
	left: 50%;
	border: solid transparent; 
	border-top-color: #d9d9d9; 
	border-width: 8px; 
	margin-left: -8px;
}

/*Rangeslider with constant label instead of tooltip - uncomment to change:*/

/*
.tooltip{
	display: none!important;
}


.rangeslider{
	padding: 0;
}

.slider{
	width: 85%;
	padding-left: 10px;
	padding-right:10px;
	float: right;
}

.rangeslider>.label{
	display: block;
	width: 15%;
	line-height: 40px;
	float: left;
	text-align: center;
}
*/

/*Bar*/

.bar {
	width: 380px;
	height: 40px;
}

.bar-background{
	background-color: #d9d9d9;
	height: 4px;
}

.bar-value{
	background: #00C5FF;
	height: 4px;
	border-right: 6px solid #ffba00;
}

/*Number on bar*/

.bar-label{
	color:#363636;
	height: 30px;
	margin-bottom: 6px;
	font-size: 28px;
	font-family: "SourceSansProBold";
	text-align: right; /*change to left to make it in constant position*/
	line-height: 30px;
}
