/*Loader*/

#loader-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	z-index:1;
}

#loader{
	position:relative;
	top:50%;
	margin: -240px auto;
   	width: 320px;
   	height: 480px;
	text-align: center;
	background: #d9d9d9;
}

#loader-logo{
	height: 120px;
	background: white;
}
#loader-logo>img{
	margin-top: 20px;
	height: 65px;
}

.loader-txt{
	margin: 20px;
	color: #363636;
	
}

.loader-ports{
	padding: 0 20px;
	height: 210px;
	overflow-y:auto;
}

.loader-ports>p, #loader-button{
	margin: 10px auto;
	border-radius: 4px;
	height: 40px;
	background: #f4f4f4;
	color: #4f4f4f;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	font-family: 'SourceSansProBold';
}

.loader-ports>p:hover{
	border:1px solid #4f4f4f;
	color: #363636;
}

.active-port{
	background: #4f4f4f!important;
	color: #d9d9d9!important;
}

#loader-button{
	color: #363636;
	margin: 0 20px;
	background: #f4f4f4;
	border:1px solid #4f4f4f;
}

#loader-button:hover{
	color: #d9d9d9;
	background: #4f4f4f;
}

#discover-button, #resume-button{
	text-decoration: underline;
	display: inline-block;
	margin-top: 10px;
}


#discover-button:hover, #resume-button:hover{
	font-family:"SourceSansProBold";
}

#loader-error{
	width:100%;
	position: absolute;
	bottom: 0;
	background: #FF461A;
	padding:10px 0;
	color:white;
	text-align: center;
	z-index:2;
}

#involthankyou{
	font-family:"SourceSansProLight";
    margin: 0 auto;
    margin-top: 300px;
    width: 90%;
    text-align: center;
    font-size: 36px;
}