<?xml version="1.0" encoding="UTF-8"?>

<!-- 

    This file contains Phonegap settings for Mobile version of framework. 

    For desktop see manifest.json and for connection settings settings.js

    config.xml reference: https://build.phonegap.com/docs/config-xml 

-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id        = "io.github.involt"
        version   = "1.0.9">

    <name>Involt for Mobile</name>

    <description>
        Mobile version of Involt framework.
    </description>

    <author href="http://involt.github.io" email="ernestwarzocha@gmail.com">
        Involt, Ernest Warzocha
    </author>

    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="default" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="false" />
    <preference name="android-installLocation"    value="auto" />
    <preference name="webviewbounce"              value="true" />

    <preference name='phonegap-version' value='cli-6.1.0' />

    <!--For gapdebug-->
    <!--<gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="true" />
    </gap:config-file>-->

    <!-- Plugins -->
    <preference name="android-build-tool" value="gradle" />
    <plugin name="cordova-plugin-chrome-apps-bluetooth" source="npm"/>
    <plugin name="cordova-plugin-chrome-apps-bluetoothsocket" source="npm"/>
    <plugin name="cordova-plugin-ble-central" source="npm" />

    <!-- Icons:-->
    <platform name="android">
        <icon src="img/icons/icon-pg.png" />
        <icon src="img/icons/android/icon-36-ldpi.png"      qualifier="ldpi" />
        <icon src="img/icons/android/icon-48-mdpi.png"      qualifier="mdpi" />
        <icon src="img/icons/android/icon-72-hdpi.png"      qualifier="hdpi" />
        <icon src="img/icons/android/icon-96-xhdpi.png"     qualifier="xhdpi" />
        <icon src="img/icons/android/icon-144-xxhdpi.png"   qualifier="xxhdpi" />
        <icon src="img/icons/android/icon-192-xxxhdpi.png"  qualifier="xxxhdpi" />

        <!-- Splashscreen: (requires plugin, currently not working) -->
        <!--   
        <splash src="img/splashscreen/android/screen-ldpi-portrait.png"      qualifier="port-ldpi" />
        <splash src="img/splashscreen/android/screen-mdpi-portrait.png"      qualifier="port-mdpi" />
        <splash src="img/splashscreen/android/screen-hdpi-portrait.png"      qualifier="port-hdpi" />
        <splash src="img/splashscreen/android/screen-xhdpi-portrait.png"     qualifier="port-xhdpi" />
        <splash src="img/splashscreen/android/screen-xxhdpi-portrait.png"    qualifier="port-xxhdpi" />
         -->
    </platform>
    

    <!-- IOS settings (currently not tested) -->

    <!--
    <preference name="prerendered-icon"           value="true" />
    <preference name="stay-in-webview"            value="false" />          
    <preference name="ios-statusbarstyle"         value="black-opaque" />   
    <preference name="detect-data-types"          value="true" />          
    <preference name="exit-on-suspend"            value="false" />          
    <preference name="show-splash-screen-spinner" value="true" />           
    <preference name="auto-hide-splash-screen"    value="true" /> 
    <preference name="disable-cursor"             value="false" />
    -->

    <!-- IOS icons and splashscreen (not tested)-->

    <!--
    <icon src="img/icons/ios/icon-57.png"                                gap:platform="ios"     width="57" height="57" />
    <icon src="img/icons/ios/icon-72.png"                                gap:platform="ios"     width="72" height="72" />
    <icon src="img/icons/ios/icon-57-2x.png"                             gap:platform="ios"     width="114" height="114" />
    <icon src="img/icons/ios/icon-72-2x.png"                             gap:platform="ios"     width="144" height="144" />

    <gap:splash src="img/splashscreen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="img/splashscreen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="img/splashscreen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="img/splashscreen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="img/splashscreen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>
    -->

    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>