<?xml version="1.0" encoding="UTF-8"?>

<!-- 

    This file contains Phonegap settings for Mobile version of framework. 

    For desktop see package.json and for connection settings settings.js

    config.xml reference: https://build.phonegap.com/docs/config-xml 

-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id        = "io.github.involt"
        version   = "1.1.0">

    <name>Involt for Mobile</name>

    <description>
        Mobile version of Involt framework.
    </description>

    <author href="http://involt.github.io" email="ernestwarzocha@gmail.com">
        Involt, Ernest Warzocha
    </author>

    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="default" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="false" />
    <preference name="android-installLocation"    value="auto" />
    <preference name="webviewbounce"              value="true" />

    <preference name='phonegap-version' value='cli-6.3.0' />

    <!-- Plugins -->
    <preference name="android-build-tool" value="gradle" />
    <plugin name="cordova-plugin-chrome-apps-bluetooth" source="npm"/>
    <plugin name="cordova-plugin-chrome-apps-bluetoothsocket" source="npm"/>
    <plugin name="cordova-plugin-ble-central" source="npm" />

    <!-- Icons:-->
    <platform name="android">
        <icon src="img/icons/icon-pg.png" />
        <icon src="img/icons/android/icon-36-ldpi.png"      qualifier="ldpi" />
        <icon src="img/icons/android/icon-48-mdpi.png"      qualifier="mdpi" />
        <icon src="img/icons/android/icon-72-hdpi.png"      qualifier="hdpi" />
        <icon src="img/icons/android/icon-96-xhdpi.png"     qualifier="xhdpi" />
        <icon src="img/icons/android/icon-144-xxhdpi.png"   qualifier="xxhdpi" />
        <icon src="img/icons/android/icon-192-xxxhdpi.png"  qualifier="xxxhdpi" />
    </platform>

    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <!--<allow-intent href="file://*/*" />-->
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>