/*----Global CSS----*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
/*Import font from core/font */
@font-face {
	font-family: 'SourceSansProLight';
	src: url('font/SourceSansPro-Light.ttf');
}

@font-face {
	font-family: 'SourceSansProRegular';
	src: url('font/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'SourceSansProBold';
	src: url('font/SourceSansPro-Bold.ttf');
}

html{
	overflow: auto;
}

body{
	margin: 0px;
	padding: 0px;
	background: white;
	font-size: 100%;
	font-family: 'SourceSansProLight';
}

.ard{
	margin: 10px;
	float:left;
	border-radius: 4px;
}

/*Clickable elements (buttons)*/

.button,
.increase, .decrease, 
.toggle, .toggle-pwm, .custom-button{
	width: 180px;
	height: 40px;
	color: white;
	background: #064f6d;
	box-shadow: 0 2px 0px #0099e7;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing:2px;
	font-family: 'SourceSansProRegular';
	cursor: pointer;
}

.button:hover,
.increase:hover, .decrease:hover, 
.toggle:hover, .toggle-pwm:hover, .custom-button:hover {
	background-color: #0099e7;
}

/*Small buttons*/

.increase, .decrease, .toggle{
	width: 80px;
}

.toggle.inactive, .toggle-pwm.state2{
	color: #064f6d;
	background: #dedede;
	box-shadow: 0 2px 0px #c8c8c8;
}

.toggle.inactive:hover, .toggle-pwm.state2:hover{
	color: #0099e7;
	box-shadow: 0 2px 0px #0099e7!important;
}

/*Rangelider & Bar*/

.rangeslider, .bar{
	width: 380px;
	height: 40px;
	padding: 9px 22px;
	background: #dedede;
	box-shadow: 0 2px 0px #c8c8c8;
}

.slider{
	width: 100%;
	margin-left: 0px!important;
}

.dragger {
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background: #064f6d;
}

.track, .highlight-track{
	height: 12px;
	background: #c8c8c8;
	border-radius: 4px;
	border: 0;
	margin-top: -5px;
}

.highlight-track{
	background: #0099e7;
}

/*Value displayed over slider (hover)*/
.tooltip{
	position: relative;
	bottom: 90px;
	width: 80px;
	height: 40px;
	margin-top: 20px;
	margin-left:-40px;
	color:white;
	background: #0099e7;
	border-radius: 4px;
	text-align: center;
	font-size:16px;
	line-height: 40px;
	letter-spacing:2px;
}

/*Small arrow below tooltip*/
.tooltip:after {
	content: " "; 
	position: absolute; 
	top: 100%;
	left: 50%;
	border: solid transparent; 
	border-top-color: #0099e7; 
	border-width: 8px; 
	margin-left: -8px;
}

.rangeobj{
	max-height: 40px;
}

.rangeval{
	display:none;
}

/*

Uncomment this if you want to display label value on rangeslider.

.rangeval{
	float: left;
	display: block;
	line-height: 25px;
	font-size:16px;
	letter-spacing:2px;
	text-align: center;
}

.rangeobj{
	margin-left:60px;
}

.tooltip{
	display: none!important;
}
*/

/*Bar*/

.bar{
	width: 380px;
	padding: 0;
}

.bar-value{
	height: 40px;
	background: #0099e7;
	box-shadow: 0 2px 0px #0099e7;
	border-radius: 4px;
}

/*Number on bar*/
.bar-value>div{
	padding-left: 20px;
	color:#003e53;
	text-align: left;
	font-size: 24px;
	line-height: 40px;
	font-family: "SourceSansProBold";
}

/*.hover*/

.hover{
	min-width: 80px;
	min-height: 40px;
	border: 1px solid #dedede;
}

.hover:hover{
	border: 1px solid #0099e7;
}

/*show*/

.show{
	width: 180px;
	height: 100px;
	color: #282828;
	border-radius: 0;
	border-bottom: 1px solid #0099e7;
	text-align: right;
	font-size: 72px;
	line-height: 100px;
	font-family: "SourceSansProBold";
}

/*Inputs - input-write, custom-write*/

input:focus {
    outline: 0;
}

.input-write, .custom-write  {
	width: 180px;
	height: 40px;
	padding-left: 10px;
	color:#0099e7;
	background: #dedede;
	box-shadow: 0 2px 0px #c8c8c8;	
    border: 0px solid white; 
	font-size: 26px;
	font-family: "SourceSansProLight";
}

.input-write:hover, .custom-write:hover, 
.input-write:focus, .custom-write:focus {
	padding-left: 9px;
	border: 1px solid #00aae2;
	box-shadow: 0 2px 0px #c8c8c8;	
}

.input-write:focus, .custom-write:focus{
	color: #064f6d;
	box-shadow: 0 2px 0px #00aae2;	
}