/*----Loader CSS----*/
* { 
	-webkit-box-sizing: border-box; box-sizing: border-box; 
	-webkit-tap-highlight-color: rgba(150, 150, 150, 0.1);
}

@font-face { font-family: 'LatoLight';   src: url('fonts/Lato-Light.ttf'); }
@font-face { font-family: 'LatoRegular'; src: url('fonts/Lato-Regular.ttf'); }


body{
	margin:0;
	padding:0;
}

iframe{
	width: 100%;
	height:100%;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0px;
	margin:0px;
}

#loader-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:100;
	background: whitesmoke;
}

#loader{
	width: 360px;
	height: 540px;
	background: white;
	position: relative;
	margin: -270px auto;
	top: 50%;
	box-shadow: 0px 2px 4px #bbbbbb;
	text-align: center;
	font-size: 16px;
	font-family: 'LatoLight';
}

#loader-logo-bg{
	padding:20px;
	border-bottom: 1px solid rgb(240,240,240);
}

#loader-logo{
	width:140px;
	display: block;
	margin: 0 auto;
}

#loader-wrapper{
	margin: 20px;
}

#loader-refresh{
	display: block;
	margin: 20px;
}

#loader-ports{
	min-height: 200px;
}

#loader-ports>p, #loader-connect{
	background: rgb(240,240,240);
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	cursor:pointer;
}

#button-wrapper{
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#loader-connect{
	border:none;
	display: block;
	background: rgb(0,186,255);
	color:white;
	padding:0;
	width: 100%;
	font-size: 16px;
	font-family: 'LatoRegular';
	outline:0;
}

#loader-connect:hover{
	background: rgb(0,178,242);
}

#loader-connect:active{
	background: rgb(0,167,229);
}


#loader-resume{
	margin:0;
	margin-top: 20px;
	display: none;
	cursor:pointer;
}

.loader-bottom{
	position: fixed;
	bottom:0;
	text-align: center;
	height:40px;
	width: 100%;
	line-height: 40px;
	background: #FF461A;
	color:white;
	font-family: 'LatoLight';
	font-size: 16px;
	z-index: 101;
}

@media (max-width: 400px) {

	#loader{
		width: 100%;
		height: 100%;
		background: white;
		position: relative;
		margin:0;
		top:0;
		box-shadow: none;
	}

}